.scene-tour {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  background: linear-gradient(180deg, #FCFDFF 0%, #60D9FF 53%);
  overflow: auto;
  max-width: 480px;

  &.en {
    section.tour-map {
      span.placeName {
        font-size: 12px !important;
        white-space: pre-line !important;
      }
    }
  }

  header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 90%;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    color: black;

    h1 {
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-right {
      display: flex;
      gap: 10px;

      button {
        padding: 0;
      }
    }

    img {
      height: 45px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tour-container {
    margin-top: 85px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;

    &.en {
      .tour-map {
        .placeName {
          padding: 7.5px 10px;
        }
      }
    }
  }

  section.tour-map {
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 10px;
    border: 2px solid #000;
    overflow: hidden;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    span {
      cursor: pointer;
      border-radius: 9px;
      padding: 10px 20px;
      color: #000;
      font-size: 18px;
      border: 1.5px solid #000;
      font-weight: 700;
      background-color: #BDBDBD;

      &.placeA.active {
        background-color: #59C0E0;
      }

      &.placeB.active {
        background-color: #9E9FCE;
      }

      &.placeC.active {
        background-color: #FFB5CD;
      }

      &.placeD.active {
        background-color: #F29669;
      }

      &.placeE.active {
        background-color: #9ADF6F;
      }
    }

    .tour-map-box {
      position: relative;

      button {
        max-width: 45px;
        max-height: 45px;
        position: absolute;
        right: 17px;
        bottom: 20px;
        padding: 0;
        box-sizing: content-box;
      }
    }
  }

  section.tour-content {
    width: 100%;
    position: sticky;
    color: #000;

    .tour-content-about {
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid #000;
      width: 100%;
      margin-bottom: 10px;
      padding: 15px 25px;

      img {
        margin-bottom: 15px;
      }

      h3 {
        font-size: 18px;
        text-align: left;
        margin: 0;
        color: #223883;
        margin-bottom: 10px;
        font-weight: 400;
      }

      h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin: 0;
        }

        .tour-content-icon {
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }

      }

      p {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    .tour-content-store {
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid #000;
      width: 100%;
      margin-bottom: 10px;
      padding: 15px 25px;

      img {
        margin-bottom: 15px;
      }

      h3 {
        font-size: 18px;
        text-align: left;
        margin: 0;
        color: #223883;
        margin-bottom: 10px;
        font-weight: 400;
      }

      h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin: 0;
        }

        .tour-content-icon {
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }

      }

      p {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        margin-top: 0;
        margin-bottom: 20px;
      }

      .tour-store-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        img {
          width: 10px;
          margin: auto;
        }

        h3 {
          margin: 0;
          color: #000;
          white-space: break-spaces;
        }

        div {
          display: flex;
          font-size: 13px;
          align-items: center;
          gap: 5px;
          color: #223883;
        }
      }

      .tour-store-box-special {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 15px;
        gap: 15px;

        .tour-store-box-item {
          width: 45%;
          margin: 0 auto;
        }


        img {
          width: 100%;
          margin: auto;
        }

        h5 {
          margin: 0 0 5px 0;
          color: #000;
          font-size: 14px;
          text-align: center;

        }

        p {
          font-size: 13px;
          color: #000;
          text-align: center;
          white-space: pre-line;
        }
      }
    }

    .tour-openTime {
      background-color: #FBE3D2;
      padding: 15px 10px;
      border-radius: 10px;

      h3 {
        color: #EA5514;
        font-size: 18px;
        text-align: center;
        margin: 0 0 5px 0;
      }

      div {
        color: #2A2A2A;
        font-size: 16px;
        margin-bottom: 5px;
      }
    }

    .tour-store-container {
      display: none;

      &.active {
        display: block;
      }

      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        gap: 10px;
        color: #2A2A2A;

        img {
          margin: 0;
          width: 20px;

        }
      }

      .tour-store-enjoy {
        h4 {
          font-size: 15px;
          color: #EA5514;
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          img {
            margin: 0;
            width: 15px;

          }
        }
      }
    }
  }

  footer {
    position: relative;
    z-index: 0;
    bottom: 10px;
    left: 0;
    width: 90%;
    margin: 0 auto;
    transform: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 15px;
    max-width: 480px;

    span {
      font-size: 8px;
      margin-right: 20px;
    }

    img {
      max-height: 20px;
      mix-blend-mode: multiply;
    }
  }

  .tour-chooseHouse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;

    button {
      width: 20%;
      background-color: #BDBDBD;
      border-radius: 10px;
      border: 1.5px solid #000;
      padding: 10px 0;
      font-size: 16px;
      line-height: 1.25;
      transition: 0.3s;
      color: #000;
    }

    button.active {
      background-color: #FFB5CD;
      width: 30%;
    }
  }

  .tour-divider {
    &.active {
      display: block;
    }


    border-top: 1px solid #8A8A8A;
    width: 100%;
    display: none;
    margin-bottom: 20px;
  }

}

.custom-tour-images {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;

  img {
    margin: 0 !important;
    margin-right: 5px !important;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
