/* Import Local字體 */
@font-face {
  font-family: 'OpenHuninn';
  src: url('./assets/font/jf-openhuninn.ttf') format('truetype');
}

* {
  font-family: 'OpenHuninn', sans-serif;
}

.App {
  text-align: center;
  height: 100dvh;
}

.loading-bg {
  background-color: #fff;
  height: 100dvh;
  width: 100dvw;
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 99999;

  img {
    width: 140px;
  }
}

/* button style normalize */
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  box-sizing: content-box;
}
