/* Import Local字體 */
@font-face {
  font-family: 'OpenHuninn';
  src: url('./assets/font/jf-openhuninn.ttf') format('truetype');
}

* {
  font-family: 'OpenHuninn', sans-serif;
}

.App {
  text-align: center;
  height: 100dvh;
  overflow: hidden;
}

.loading-bg {
  background-color: #fff;
  height: 100dvh;
  width: 100dvw;
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 99999;
  left: 50%;
  transform: translateX(-50%);

  img {
    width: 140px;
  }
}

/* button style normalize */
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  box-sizing: content-box;
}

footer {
  position: fixed;
  z-index: 0;
  bottom: 10px;
  left: 0;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 15px;
  max-width: 480px;

  span {
    font-size: 8px;
    margin-right: 20px;
  }

  img {
    max-height: 20px;
  }
}

button.back-to-top {
  max-width: 50px;
  margin: 0 0 25px 0;

  img {
    width: 100%;
  }
}

.test-clear {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
}

.test-random {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
}

span.span-blue {
  color: #223883;
}

.special-display-block {
  display: block !important;
}

.app-container {
  .app-router-container {
    position: fixed;
    z-index: 1;
    left: 50%;
    height: 100dvh;
    max-width: 480px;
    width: 100%;
    top: 0;
    transform: translate(-50%, 0);
  }

  .app-canvas {
    height: 100dvh;
    width: 100dvw;
    max-width: 480px;
    position: relative;
    z-index: 0;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;

    canvas {
      height: 100dvh;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0);
      z-index: 0;
    }

    iframe {
      height: 101dvh; // 1dvh for the 遮住露餡的部分
      width: 100dvw;
      max-width: 480px;
      position: relative;
      z-index: 0;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      overflow: hidden;
      border: none;
      font-size: 0;
      margin: 0;
      padding: 0;
      line-height: 0;
    }

  }

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      text-align: center;
      color: white;

    }
  }
}

.detecting-ar {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 85px;
  }

  p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  }
}

.searching-bear {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 250px;
  }

  p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
  }
}

.click-area {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 70dvh;
  max-width: 400px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.modal-click-bear {
  position: absolute;
  bottom: 35px;
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  border-radius: 10px;
  border: 3px solid #000;
  background-color: #fff;
  padding: 15px;

  p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    color: #000;
    line-height: 1.5;
    font-weight: 600;
  }

  button {
    background-color: #59C0E0;
    margin: 0 auto;
    color: #000;
    text-align: center;
    font-size: 20px;
    display: block;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
    -webkit-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
    -moz-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  }
}

.show-capture {
  position: fixed;
  left: 50%;
  bottom: 85px;
  transform: translate(-50%, 0);
  z-index: 10;

  button {
    cursor: pointer;
    width: 75px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
  }
}

.capture-result {
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 19;
  background-color: #fff;
  border: 2.5px solid #000;
  border-radius: 10px;
  padding: 20px;
  max-width: 320px;
  width: 80%;

  .capture-img {
    width: 100%;
    min-height: 345px;
    background-color: #f0f0f0;
    border-radius: 2.5px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      box-sizing: content-box;
    }
  }

  p {
    font-size: 15px;
    text-align: center;
    color: #000;
    line-height: 1.5;
    margin: 5px 0;
  }

  .cs-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    button {
      margin-bottom: 10px;
      color: #000;
      text-align: center;
      font-size: 20px;
      display: block;
      border: 2px solid #000;
      border-radius: 10px;
      padding: 12.5px 20px;
      background-color: #fff;
      width: 100%;
      box-sizing: border-box;
      box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
      -webkit-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
      -moz-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);

      &:nth-child(1) {
        background-color: #FBE3D2;
      }
    }
  }
}

.camera-permission {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
  width: 75%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;

  h2 {
    color: #EA5514;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    color: #000000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  button {
    margin-bottom: 10px;
    color: #000;
    text-align: center;
    font-size: 20px;
    display: block;
    border: 2px solid #000;
    margin: 0 auto;
    border-radius: 10px;
    padding: 12.5px 30px;
    background-color: #59C0E0;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
    -webkit-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
    -moz-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  }
}

button.btn-thanks {
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  font-size: 20px;
  display: block;
  border: 2px solid #000;
  margin: 0 auto;
  border-radius: 10px;
  padding: 12.5px 30px;
  background-color: #59C0E0;
  box-sizing: border-box;
  box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  max-width: unset !important;
}

.mission-complete {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
  width: 75%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;

  p {
    color: #000000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  img {
    width: 200px;
    margin: 0 auto 20px auto;
    display: block;
  }

  button {
    margin-bottom: 10px;
    color: #000;
    text-align: center;
    font-size: 20px;
    display: block;
    border: 2px solid #000;
    margin: 0 auto;
    border-radius: 10px;
    padding: 12.5px 30px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
    -webkit-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
    -moz-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  }
}

.no-scene {
  position: fixed;
  z-index: 99999;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 480px;
  width: 100%;
  height: 100dvh;
  background-color: #FFF1DB;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
    max-width: 335px;

  }
}

.btn-reposition {
  position: relative;

  span {
    position: absolute;
    bottom: -50px;
    display: flex;
    white-space: pre;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 10px;
    border-radius: 10px;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid rgba(0, 0, 0, 0.8);
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      top: -10px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0) rotate(180deg);
    }
  }
}
