.scene-qa {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  background: linear-gradient(180deg, #FCFDFF 0%, #60D9FF 53%);
  overflow: auto;
  max-width: 480px;

  header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;

    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .header-right {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      button {
        padding: 0;
      }

      img {
        width: 35px;
        height: auto;
      }

      span {
        font-size: 25px;
      }
    }

    img {
      height: 45px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 15px;

    span {
      font-size: 8px;
      margin-right: 20px;
    }

    img {
      max-height: 20px;
    }
  }

  .ans-feedback {
    margin: 85px auto 40px auto;
    display: block;

    .ans-result {
      height: 50px;
      margin-bottom: 10px;
    }

    .ans-text {
      font-size: 15px;
      text-align: center;
      color: #000;
      margin-bottom: 5px;
    }

    img.ans-bear {
      width: 135px;
      display: block;
      margin: 0 auto;
    }
  }

  .qa-content {
    width: 90%;
    margin: 125px auto 50px auto;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    border: 2px solid #000;
    height: 75dvh;
    position: relative;
    z-index: 6;

    &.margin-dlc {
      margin: 0 auto 50px auto;
      height: auto;
    }

    .qa-header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 250px;
      top: -30px;

      h2 {
        position: absolute;
        top: 5px;
        font-size: 20px;
        color: #000;
      }

    }

    p {
      color: #000;
      text-align: left;
      font-size: 21px;
      line-height: 1.5;
    }

    .qa-container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      justify-content: space-between;
      align-items: center;
      height: 95%;

      .qa-answer {
        width: 100%;

        button {
          margin-bottom: 10px;
          text-align: left;
          font-size: 20px;
          display: block;
          border: 2px solid #000;
          border-radius: 10px;
          padding: 12.5px 20px;
          background-color: #fff;
          width: 100%;
          box-sizing: border-box;
          box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
          -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
          -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);

          &.active {
            background-color: #faebd7;
          }

          &.correctAnswer {
            display: block !important
          }
        }
      }

      button.qa-done {
        font-size: 20px;
        display: block;
        border: 2px solid #000;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: #59C0E0;
        box-sizing: border-box;
        box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
      }

      .icon-result {
        display: none;
        width: 20px;
      }

      &.show-result {
        button {
          display: none;
          justify-content: space-between;
          align-items: center;
        }

        .icon-result {
          display: inline-block;
        }

        button.active {
          display: flex;
          background-color: #FFCBCB;
        }

        button.correctAnswer {
          display: flex !important;
          background-color: #E0FFD1;
        }
      }
    }
  }

  .qa-hint {
    p {
      font-size: 14px;
      text-align: left;
      line-height: 1.5;
    }
  }
}
